FLASK_DEBUG=1
HOST=127.0.0.1
PORT=5000
MAX_CONTENT_LENGTH_MB=4096

HF_TOKEN=

DEVICE=cpu
COMPUTE_TYPE=int8
WHISPER_MODEL=small
WHISPER_BATCH_SIZE=4

MIN_SPEAKERS=2
MAX_SPEAKERS=8

TRANSLATION_MODEL=facebook/nllb-200-distilled-600M
TRANSLATION_BATCH_SIZE=4
SOURCE_LANG=eng_Latn
TARGET_LANG=hin_Deva

TTS_MALE=hi-IN-MadhurNeural
TTS_FEMALE=hi-IN-SwaraNeural
TTS_RATE=+0%
TTS_VOLUME=+0%

GENDER_MODEL=moorlee/gender-voice-classifier-ecapa
GENDER_SAMPLE_SECONDS=18
